.profile-dash {
  background: white;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  .avatar-container {
    position: relative;
    .avatar-img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      position: absolute;
      z-index: 999;
      bottom: 0;
      border: 1px solid black;
    }
  }

  .edit-btn {
    text-decoration: none;
  }
}
